---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---


<Layout title="Меню Кафе.">

	<body>
		<Header />
		<div class="tw-col-span-1">
			<h1>Пицца1</h1>
		</div>


        <div>
            <p>
              <span class="font-medium">Important Note!</span> Change a few things up and try submitting again.
            </p>
          </div>

          
	</body>
</Layout>


