---
// import logo component
// import Logo from './Logo.astro';
---

<section>
    <!-- <Logo /> -->
    <h3>Часы работы</h3>
    <p>Понедельник - Пятница: 8.00 - 20.00</p>
    <p>Суббота - Воскресенье: 10.00 - 22.00</p>

    <h3>Мы здесь</h3>
    <p>Краснодар ул. ##### д. ##</p>
    <p> тел. +7(###)########</p>
</section>

<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato&family=Shrikhand&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');    section {
        padding-top: 50px;
    }

    h3 {
        /* text-transform: lowercase; */
    }

    p {
        font-family: 'Comfortaa';
        /* text-transform: lowercase; */
    }
</style>