---
import MenuButton from "./MenuButton.astro";
---

<section>
    <MenuButton url="menu-food" menuType="Пицца" />
    <MenuButton url="menu-drink" menuType="Напитки" />
    <MenuButton url="menu-dessert" menuType="Десерт" />
</section>

<style>
    section {
        padding-top: 50px;
    }
</style>